*{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;   
}

#grid-container {
    display: grid;
    grid-template-areas: "head head"
                         "head head"
                         "head head"
                         "nav  main"
                         "nav  main";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr 30px;
    text-align: center;
    width: 100%;
}

#grid-container > header { 
    grid-area: head;
    background: url(/img/typewriter_mystery_head_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#grid-container > nav {
    grid-area: nav;
}

#grid-container > nav > ul,
#grid-container > nav > ul > li {
    font-size: 16px;
    list-style-type: none;
    text-align: left;
    text-transform: uppercase;
}

/* Main section */
#grid-container > main {
    grid-area: main;
}

#grid-container > main > h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    text-transform: uppercase;
}

#grid-container > main > .section-content {
    width: 100%;
}

/* The viewer section */
#grid-container > main > #viewer {
    display: none;
}

#grid-container > main > #viewer > pre > .original,
#grid-container > main > #viewer > .solution {
    margin: 0 auto;
    padding: 20px 10px;
    text-align: left;
    width: 60%
}
#grid-container > main > #viewer > pre > .original {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
}

#grid-container > main > #viewer > .solution {
    display: none;
    font-weight: bolder;
    letter-spacing: .50em;
    white-space: nowrap; /* Keeps the content on a single line */
}

/* Letters and their colours. TODO: make them dynamic based on the problems */
#grid-container > main > #viewer > .solution > span.l { color: #665166; }
#grid-container > main > #viewer > .solution > span.s { color: #100; }
#grid-container > main > #viewer > .solution > span.o { color: #16474E; }